.widget-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  color: orange;
}
.value {
  font-size: 24px;
  opacity: 0.7;
}
.widget-content {
  display: block;
  text-align: center;
  position: relative;
  min-width: 190px;
}
